<section id="cd-intro">
<div id="cd-intro-background"></div>
<div id="cd-intro-tagline"></div>
<h1>Responsive Landing Page</h1>
	
</section>
<main class="cd-content">
	<div class="cd-container">
		<h1>This is the title</h1>
		<p>
			Although these fields are optional, we highly recommend collecting them. The customer's ZIP code can be used to perform address and ZIP code verifications that help reduce fraud. Similar to CVC verification, Radar includes a built-in rule to block payments where the ZIP code verification with the issuer failed.

You may also pass a form element as the first argument to createToken. The relevant information will be pulled from inputs marked up with the data-stripe attribute, which should be set to one of the values specified above.

The second argument to card.createToken—stripeResponseHandler—is a callback you provide to handle the response from Stripe. It should do the following:

    If the card information entered by the user returned an error, display it on the page
    If no errors were returned—a single-use token was created successfully, add the returned token to the payment form and submit the form to your server

		</p>
	</div>
</main>